@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600");
@font-face {
  font-family: ArmataRegular;
  src: url("../sass/font/Armata-Regular.otf") format("opentype");
}
@font-face {
  font-family: SintonyRegular;
  src: url("../sass/font/Sintony-Regular.otf") format("opentype");
}
@font-face {
  font-family: SintonyBold;
  src: url("../sass/font/Sintony-Bold.otf") format("opentype");
}
/* line 19, ../sass/print.sass */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 24, ../sass/print.sass */
.inv-invoice {
  font-family: "ArmataRegular", sans-serif;
  color: #222;
}

/* line 28, ../sass/print.sass */
.inv-invoice {
  overflow: auto;
  margin: 0;
}

/* line 32, ../sass/print.sass */
.inv-invoice__paper {
  font-size: 12pt;
  overflow: auto;
  width: 21cm;
  height: 29.7cm;
  background-color: #fff;
  padding: 1cm 0;
  box-sizing: border-box;
  position: relative;
  padding: 1cm 2cm;
}

/* line 43, ../sass/print.sass */
.inv-list--right {
  text-align: right;
}

/* line 47, ../sass/print.sass */
.inv-list--inline li {
  display: inline;
}

/* line 50, ../sass/print.sass */
.inv-font--sm {
  font-size: 9pt;
}

/* line 54, ../sass/print.sass */
.mark-top {
  left: 0;
  width: 0.4cm;
  position: absolute;
  top: 10.5cm;
  border-top: solid 1pt #999;
  margin-left: 0.5cm;
  margin-right: 0.5cm;
}

/* line 63, ../sass/print.sass */
.mark--right {
  left: auto;
  right: 0;
}

/* line 67, ../sass/print.sass */
.mark-mid {
  border-top: solid 1pt #999;
  width: 0.6cm;
  position: absolute;
  margin-left: 0.3cm;
  top: 50%;
}

/* line 74, ../sass/print.sass */
.material-icons {
  vertical-align: middle;
}

/* line 77, ../sass/print.sass */
.link-style {
  color: #ff7f94;
  font-weight: bold;
}

@media print {
  /* line 82, ../sass/print.sass */
  .inv-menu {
    display: none;
  }
}
/* line 3, ../sass/steckbrief.sass */
h1 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 25pt;
  float: left;
}

/* line 9, ../sass/steckbrief.sass */
h2 {
  font-weight: normal;
  padding-top: 12pt;
  margin-bottom: 5pt;
  color: #333;
  font-size: 17pt;
}

/* line 16, ../sass/steckbrief.sass */
.sb-main, .sb-header {
  overflow-x: auto;
  box-sizing: border-box;
  width: 100%;
}

/* line 21, ../sass/steckbrief.sass */
.sb-logo {
  width: 4.5cm;
  padding-right: 0.3cm;
  float: right;
}

/* line 26, ../sass/steckbrief.sass */
.sb-table {
  display: flex;
  border: solid 4pt #3F849D;
  font-family: "SintonyRegular";
  font-size: 11pt;
  border-radius: 2pt;
  color: #3F849D;
}

/* line 35, ../sass/steckbrief.sass */
.sb-table__left {
  background-color: #3F849D;
  color: #fff;
  font-family: "SintonyBold";
  width: 4cm;
}

/* line 41, ../sass/steckbrief.sass */
.sb-table__mid {
  flex-basis: calc(100% - 9cm);
}

/* line 44, ../sass/steckbrief.sass */
.sb-table__right {
  width: 5cm;
  background-image: url("../gfx/err.jpg");
  background-size: cover;
  background-position: center center;
}

/* line 51, ../sass/steckbrief.sass */
.sb-table__list {
  margin: 6pt;
  margin-right: 0;
}
/* line 54, ../sass/steckbrief.sass */
.sb-table__list li {
  padding-right: 7pt;
  padding-left: 3pt;
  padding-bottom: 3pt;
  padding-top: 8pt;
  border-bottom: solid 2pt rgba(255, 255, 255, 0.8);
}
/* line 60, ../sass/steckbrief.sass */
.sb-table__list li:first-child {
  padding-top: 4pt;
}
/* line 62, ../sass/steckbrief.sass */
.sb-table__list li:last-child {
  border: none;
  padding-bottom: 0;
}

/* line 66, ../sass/steckbrief.sass */
.sb-table__list--mid {
  margin-left: 0;
}
/* line 68, ../sass/steckbrief.sass */
.sb-table__list--mid li {
  padding-left: 6pt;
  border-color: rgba(63, 132, 157, 0.8);
}

/* line 72, ../sass/steckbrief.sass */
.sb-description {
  width: calc(100% - 5cm - 3pt - 0.5cm);
  font-size: 10pt;
  line-height: 14pt;
  color: #306579;
  float: left;
  text-align: justify;
}

/* line 80, ../sass/steckbrief.sass */
.sb-aside {
  float: right;
  width: 5cm;
  padding-right: 2pt;
  overflow: hidden;
}

/* line 86, ../sass/steckbrief.sass */
.sb-aside__image {
  margin: 0;
  margin-bottom: 1cm;
  width: 100%;
}
/* line 90, ../sass/steckbrief.sass */
.sb-aside__image img {
  width: 100%;
}
/* line 93, ../sass/steckbrief.sass */
.sb-aside__image figcaption {
  font-size: 8pt;
}
